[Desktop Entry]
Type=Application
Name=Tarot Canvas
Comment=View, manage and explore tarot decks
Exec=env RESOURCE_NAME=tarot-canvas tarot-canvas %u
Icon=land.arcana.TarotCanvas
Categories=Graphics;Spirituality;
Keywords=tarot;cards;deck;
StartupNotify=true
Terminal=false
MimeType=x-scheme-handler/tarot;
X-Flatpak-RenamedFrom=tarot-canvas.desktop;
StartupWMClass=tarot-canvas

